<section id="footer">
    <footer>
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Guidelines | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">FAQ | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Support | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">API | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Security | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Lists | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Bookmarklet | </a></li>
                    <li class="list-inline-item"><a class="footer-link"  target="_blank" href="#">Legal | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Apply to YC | </a></li>
                    <li class="list-inline-item"><a class="footer-link" target="_blank" href="#">Contact</a></li>
                 </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
        </div>
    </div>
    </footer>
</section>
